@{
    ViewData["Title"] = "Main Page";
}

<div>
    <div>
        @Html.ActionLink("1. Account management", "Index", "Account")
    </div>

    <div>
        @Html.ActionLink("2. Product management", "Index", "Product")
    </div>

    <div>
        @Html.ActionLink("3. Order management", "Index", "Order")
    </div>  
</div>